<div class="container-fluid mt-5" about-style" id="aboutid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
                <h1 class="text-center main-heading">About us</h1>
                <p class="text-center sub-heading">Grow your business with us</p>
                <div class="row">
                    <div class="col-md-6 col-12 hero-text">
                        <figure>
                            <img src="growth.png" alt="herosection_image">
                        </figure>
                    </div>
                    <!-- Right side content -->
                    <div class="col-md-6 col-12 hero-text d-flex justify-content-center align-items-start flex-column">
                        <h1>WE ARE THE PROFESSIONAL DEVELOPER</h1>
                        <p>We are a team of DEVELOPER TEAM <span class="bold-style">Professional developers</span></p>
                        <button class="btn-style btn-primary">Read more</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
