<section>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14297019.500557521!2d59.183971949999965!3d28.97304699999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390c668fdea4d87f%3A0x8795def814a486e7!2sMeerut%20Institute%20of%20Engineering%20and%20Technology!5e0!3m2!1sen!2sin!4v1694533867746!5m2!1sen!2sin" width="1700" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>
